* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0c4c7d;
}

.game-container {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px
}

h1 {
    font-size: 3.8rem;
    font-weight: 400;
    font-family: 'Monoton', cursive;
    color: aliceblue;
}

canvas {
    border: solid 8px #072b47;
    border-radius: 24px;
    background-color: aliceblue;
}

.buttons {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}

#left, #right {
    width: 68px;
}

button {
    width: 72px;
    padding: 8px;
    border: solid 4px #072b47;
    border-radius: 12px;
    background-color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
}

.time-start-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#start-button {
    width: 125px;
    height: 60px;
    border-radius: 24px;
    cursor: pointer;
}

.messages {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 24px;
    background-color: #072b47;
    font-family: 'Comfortaa', cursive;
    font-size: 3.2rem;
    color: aliceblue;
}

.recordScore {
    font-size: 2.4rem;
}

@media (min-width:425px) {
    .buttons {
        display: none;
    }
}